@import "~@/assets/style/helper.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:$font-size;
  font-family: $font-Hei;
  color:inherit;
  &:focus{
    outline:none;
  }
}

*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,li{
  list-style: none;
}